.force-orientation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    gap: 10px;
    padding: 20px;
}

.force-orientation h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.force-orientation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.force-orientation h2 {
    margin-bottom: 24px;
}


.rotate-img {
    width: 7vw;
    height: 7vh;
    animation: rotate 10s linear infinite;
    margin-bottom: 16px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

