.side-menu {
	color: white;
	display: flex;
	flex-direction: column;
	max-width: 18%;
	transition: all 0.3s ease;
}
.side-menu.collapsed {
	max-width: 0;
	width: 0;
	overflow: hidden;
}

.menu-top-side {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: white;
}

.menu-top-side .bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.elements-list {
	flex: 1;
	overflow-y: auto;
	gap: 12px;
	display: flex;
	flex-direction: column;
}

.elements-status {
	font-size: 0.9rem;
	color: #bbbbbb;
	margin: 0;
}

.elements-status.error {
	color: #ff7575;
}
