.search-bar{
    display: flex;
    margin: 10px;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    background: rgb(231, 231, 231);
    align-self: center;
    border: 1px solid var(--primary-color);
    padding-bottom: 0;
    padding-top: 0;
}

.search-bar:focus-within{
    box-shadow: 0 0 5px var(--primary-color);
}

.search-bar button{
    cursor: pointer;
    margin: 10px;
}

.search-bar input{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.search-input:focus{
    outline: none;
}