header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
}