header {
    display: flex;
    background-color: #d2d9cccf;
    padding: 15px 25px;
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: 10px;
    border-radius: 50px;
    position: absolute;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/*logo adaptaciones*/
.logo-container{
    height: 1vh;
    width: 1vh;
}

header a {
    color: rgb(15, 45, 29);
    text-decoration: none;
    font-size: clamp(12px, 2vw, 20px);
    font-weight: bold;
}

button.auth-button{
    padding: 10px 20px;
    background-color: #094507;
    color: white;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.auth-button:hover {
    background-color: #030705ed;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}