header {
    display: flex;
    background-color: var(--primary-color);
    padding: 15px 25px;
    text-align: center;
    max-width: 1400px;
    width: 100%;
    margin: 10px;
    border-radius: 50px;
    position: absolute;
    align-self: center;
    justify-content: space-between;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.auth-button {
  padding: 10px 20px;
  background-color: #020202; /* azul morado */
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: #fdfdff; /* más claro al hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: #020202;
}

