.simulator-page {
    padding: 0;
    max-width: none;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #eff4f7;
}

.simulator-space {
    flex: 1;
    background: radial-gradient(circle at top, #f8fbff, #e9f0ff 70%);
    overflow: auto;
}

.menu-toggle-button {
    position: fixed;
    bottom: 30px;
    left: calc(20% + 30px);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: left 0.3s ease, background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.menu-toggle-button.collapsed {
    left: 30px;
}

.menu-toggle-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 10px #467c49;
    transform: translateY(-1px);
}
