.simulator-page{
    padding: 0px;
    max-width: none;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-menu{
    color: white;
    display: flex;
    flex-direction: column;
}

.menu-top-side{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu-top-side .bar{
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.simulator-viewer{
    flex: 1;
    background-color: #e0e0e0;
}

/* Toggle personalizado para mostrar encendido/apagado */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7a7f85; /* gris frío (fris) */
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* ENCENDIDO (checked) → verde verdad */
input:checked + .slider {
  background-color: #2e7d32; /* verde profundo verdad */
}

input:checked + .slider:before {
  transform: translateX(85px);
}

/* Texto apagado */
.slider:after {
  content: 'APAGADO';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

/* Texto encendido */
input:checked + .slider:after {
  content: 'ENCENDIDO';
}
