.card-panel {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-family: "Inter", sans-serif;
  justify-content: start;
  color: black;
}

.card-panel img {
  width: 20%;
  height: auto;
  object-fit: contain;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}