.card-panel{
 width: 30%;
  padding: 20px 0;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-family: "Inter", sans-serif;
justify-content: space-around;
}